body{

 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-align: center;
 display: flex;
 flex-direction: column;
}

header{
  
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

main{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#reset{

    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.btn-triangular{
 
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-Left: 50px solid transparent;
    border-bottom: 100px solid ;
    color: chartreuse;
    
}

.btn-cuadrado{
    
    margin:20px ;
    width: 100px; 
    height: 100px; 
    background: red;
}

.btn-cuadrado:hover{

    background-color: rgb(53, 147, 78);
}

.btn-cuadrado:active{
    transform: translateY(-12px);
}

.btn-redondo{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgb(53, 35, 118);      
}

.btn-redondo:hover{ 

    background-color:rgb(225, 37, 69);  
}

.btn-redondo:active{
    
    transform: translateY(-12px);
}
  

.btn-triangular:hover{
 
    color:cornflowerblue;
  
}

.btn-triangular:active{

    transform: translateY(-12px);

}


 
  